
<% reviews.each do |review| %>
  <div class="review" style="border-bottom: 1px black solid; padding-top: 10px;">
    <div>
      <%= review.rating_stars %>
    </div>
    <div style="padding-top:10px; padding-bottom: 10px;">
      <div>
        <b><%= review.title %> </b>
      </div>
      <div>
        <%= review.customer_name %>
      </div>
    </div>
    <div style="padding-bottom: 20px;">
      <%= review.description %>
    </div>
  </div>
<% end %>

  <%= will_paginate @reviews , domain: "https://www.#{@shop.shopify_domain}/a/s", params: {daterange: @daterange} %>
<%# use js to prevent default and and make get with url %>