<%= form_with model: template do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :reply_to %>
      <%= f.text_field :reply_to, style: {width: '100%'}, class: 'form-control', required: true %>
    </div>
    <div class="col-md-6">
      <%= f.label :from %>
      <%= f.text_field :from, style: {width: '100%'}, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, style: {width: '100%'}, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :html %>
    <%= f.text_area :html, style: {width: '100%'}, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.submit "Save Template", data: {confirm: "Are you sure you want to save the #{template.template_type} template" }, class: 'btn btn-primary btn-round' %>
  </div>
  <div class="form-group">
    <%= link_to "Click Here", preview_template_path(template.template_type), remote: true %>
  </div>
<% end %>



<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>