
<div class="onboarding_modal">
  <div class="carousel">
    <div class="slide-container">

      <!--  Slider  -->

<div class="slides-container">
  <button class="onboard_btn btn__absolute btn__prev btn--muted">Back</button>
  <button class="onboard_btn btn__absolute btn__next btn--highlighted">Next</button>
  <section class="slide slide-1">
    <article class="slide__inner slide--left">
      <div class="container container--slide-1">
        <div class="container__logo"><i class="material-icons">trending_up</i></div>
        <div class="container__stripe container__stripe--long"></div>
        <div class="container__stripe container__stripe--short"></div>
      </div>
    </article>
    <article class="slide__inner slide--right">
    <%= link_to 'Skip', complete_onboarding_path, class: 'onboard_btn btn__absolute btn--highlighted-top' %>
      <h1>Challenges</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, aut accusantium modi incidunt, odit voluptatem tempora alias!</p>
    </article>
  </section>
  <section class="slide slide-2">
    <article class="slide__inner slide--left">
      <%= image_tag 'edit_template', class: 'r-img' %>
    </article>
    <article class="slide__inner slide--right">
      <%= link_to 'Skip', complete_onboarding_path, class: 'onboard_btn btn__absolute btn--highlighted-top' %>
      <h1>Peers</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, aut accusantium modi incidunt, odit voluptatem tempora!</p>
    </article>
  </section>
  <section class="slide slide-2">
    <article class="slide__inner slide--left">
      <%= image_tag 'save_template', class: 'r-img' %>
    </article>
    <article class="slide__inner slide--right">
      <%= link_to 'Skip', complete_onboarding_path, class: 'onboard_btn btn__absolute btn--highlighted-top' %>
      <h1>Peers</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, aut accusantium modi incidunt, odit voluptatem tempora!</p>
    </article>
  </section>
  <section class="slide slide-2">
    <article class="slide__inner slide--left">
      <%= image_tag 'turn_on_app', class: 'r-img' %>
    </article>
    <article class="slide__inner slide--right">
      
      <h1>Peers</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, aut accusantium modi incidunt, odit voluptatem tempora!</p>
    </article>
  </section>
</div>

<script>
$(document).ready(function(){
  //basic variables for slide information
  var currentIndex = 0, //first slide
  slides = $('.slide'),
  slidesLength = slides.length; //how many slides
  $('.btn__prev').hide(); //hide previous button
  createDots(slidesLength); //funtion for creating pagination dots
  function cycleSlides(current) { //function which handles slide traversing
    var slide = $('.slide').eq(current);
    slides.hide();
    slide.show();
  }
  function markDots(position){  //function to add active class to active dot
    $('.paginationDot').removeClass('paginationDot--active');
    $('.paginationDot:nth-child(' + position + ')').addClass('paginationDot--active');
  }
  markDots(1);  //add active class to the first dot
  cycleSlides(currentIndex);
  $('.btn__next').on('click', function(){ //function for 'next' button
    $('.btn__prev').show(); //show the previous button
    currentIndex += 1 //increment the value of current slide
    cycleSlides(currentIndex);  //call slide handle function
    if(currentIndex > slidesLength-2){  //if it second to last slide show 'done' instead of 'next'
      $('.btn__next').html('<%= link_to 'Done', complete_onboarding_path, class: 'text-white' %>')
      $('.btn__next').attr("disabled", true);
    } else{
      controls.classList.remove('on-last-slide');
    }
  }

  function toggleDisabled(){
    (activeSlideIndex === 0) ? previousButton.disabled = true: previousButton.disabled = false;
    (activeSlideIndex === slides.length - 1) ? nextButton.disabled = true: nextButton.disabled = false;
  };

  function toggleSlide(slideIndex){
    for( var i = 0; i < slides.length; ++i){
      slides[i].classList.remove(activeClass);   
    } 
    slides[slideIndex].classList.add(activeClass);
    for( var i = 0; i < slides.length; ++i){
      toggles[i].classList.remove(activeClass);   
    }   
    toggles[slideIndex].classList.add(activeClass);
    toggleDisabled();
    toggleLastSlide()
  };
  // add event listeners

  nextButton.addEventListener('click', function(){
    if(activeSlideIndex < slides.length - 1){
      activeSlideIndex = activeSlideIndex + 1;
      toggleSlide(activeSlideIndex);  
    };
  });

  previousButton.addEventListener('click', function(){
    if(activeSlideIndex > 0){
      activeSlideIndex = activeSlideIndex - 1;
      toggleSlide(activeSlideIndex);  
    };
  });

  // init controls on load
  initToggles();
</script>



<style>


.slides-container {
	position: relative;
	max-width: 10240px;
  height: 590px;
  max-height: 590px;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #eee;
	box-shadow: 0px 0px 15px 1px #ebebeb;
}

.slide {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.slide__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	/* width: 50%; */
	float: left;
}

.slide--left {
  background: #1775EF;
  width: 65%;
}

.slide--right {
  width: 35%;
	position: relative;
	background: #fff;
	padding: 3%;
	animation: fadeUp 1s forwards;
}

.slide--right h1 {
	width: 100%;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 24px;
	text-align: left;
	letter-spacing: 0.4px;
}

.slide--right p {
	font-size: 14px;
	color: #666;
	line-height: 1.8;
}

.onboard_btn {
	height: 30px;
	width: 60px;
	font-weight: 400;
	letter-spacing: 0.6px;
	border-radius: 5px;
	border: 0;
	outline: none;
}

.btn__absolute {
	position: absolute;
	z-index: 10;
}

.btn--highlighted {
	bottom: 40px;
	right: 30px;
	background-color: #1775EF;
	color: #fff;
}

.btn--highlighted-top {
	top: 40px;
	right: 0px;
}

.btn--muted {
	bottom: 40px;
	right: 100px;
	background-color: transparent;
	color: #9e9e9e;
}

.pagination {
	height: 20px;
	max-width: 140px;
	display: flex;
	justify-content: center;
	margin: 10px auto;
  clear: both;
}

.paginationDot {
	width: 10px;
	height: 10px;
	margin: 0 3px;
	border: 2px solid #ddd;
	border-radius: 50%;
	transition: 0.4s all;
}

.paginationDot--active {
	background: #1775EF;
	border-color: #1775EF;
}

.slide-1 .slide--left {
	background: #75d0cd;
}

.container {
	height: 250px;
	width: 200px;
	background: white;
}

.container__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 130px;
	margin: 30px auto;
	border-radius: 50%;
	background: #75d0cd;
	box-shadow: 0px 0px 0px 5px #e5e5e5;
	animation: 0.8s bounceUp forwards;
}

.container__logo .material-icons {
	font-size: 72px;
	color: rgba(255, 255, 255, 0.8);
	animation: 0.6s bounceUpOnce 0s forwards;
}

.container__stripe, .section__stripe {
	height: 10px;
	margin: 13px auto;
	border-radius: 10px;
	background: #e5e5e5;
}

.container__stripe--long {
	width: 0;
	animation: 0.3s growRightLong 0.7s forwards;
}

.container__stripe--short {
	width: 0;
	animation: 0.3s growRightShort 0.7s forwards;
}

.slide-2 .slide--left {
	background: rgb(23,117,239);
background: linear-gradient(180deg, rgba(23,117,239,1) 0%, rgba(148,0,232,1) 77%);
}

.onboard_card {
	height: 76px;
	width: 80%;
	padding: 5px;
	margin: 6px 0;
	border-radius: 3px;
	background: white;
}

.onboard_card > * {
	float: left;
}

.card--profile:nth-child(2) {
	animation-delay: 0.3s;
}

.card--profile:last-child {
	animation-delay: 0.6s;
}

.card--profile {
	box-shadow: -5px 5px 0px 0px rgba(235, 235, 235, 0.4);
	opacity: 0;
	animation: fadeRight 1s forwards;
}

.profile--yellow .card--profile__logo {
	background: #efe2b0;
}

.profile--pink .card--profile__logo {
	background: #c8bfe7;
}

.card__logo, .section__logo {
	width: 21%;
	background: #83cedb;
	text-align: center;
	border-radius: 4px;
	height: 100%;
}

.card__logo i, .section__logo i {
	color: rgba(255, 255, 255, 0.7);
	font-size: 62px;
	padding: 0;
	margin: 0;
}

.card__logo i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.card__info, .section__info {
	width: 79%;
	padding: 2%;
}

.card__info__name {
	margin: 6px 0 2px;
	letter-spacing: 0.5px;
	color: #2ca8da;
}

.card__data__stats {
	display: inline-block;
	margin-right: 5px;
}

.card__data__stats i, .card__data__stats span {
	font-size: 12px;
	margin-right: 2px;
}

.card__data__stats i {
	color: #444;
}

.card__data__stats span {
	color: #777;
}

.slide-3 .slide--left {
	background: #83cedb;
}

.container--slide-3 {
	width: 80%;
	height: 90%;
	animation: fadeUp 0.3s forwards;
	overflow: hidden;
}

.header--slide-3 {
	height: 50%;
	animation: .5s slideInRight forwards;
}

.header__nav {
	position: relative;
	height: 50px;
}

.header__nav__logo {
	position: absolute;
	z-index: 10;
	top: 15%;
	left: 20px;
	width: 20%;
	height: 70px;
	border-radius: 6px;
	background: #f77b83;
}

.header__nav__logo p {
	font-weight: 600;
	color: white;
	text-align: center;
	font-size: 14px;
	line-height: 70px;
	letter-spacing: 1px;
	margin: 0;
}

.header__nav__cta {
	position: absolute;
	top: 15%;
	right: 20px;
	width: 15%;
	padding: 2px 7px;
	border-radius: 4px;
	background: #4dc684;
	color: white;
	font-size: 11px;
}

.header__hero {
	position: relative;
	overflow: hidden;
	height: 75%;
	background: #e7eff7;
}

.header__hero__table {
	position: absolute;
	z-index: 20;
	bottom: -5%;
	left: 0;
	right: 0;
	height: 40%;
	transform: rotate(-2deg);
	background: #d6dede;
}

.header__hero__chair {
	position: absolute;
	bottom: 30%;
	right: 20%;
	width: 40%;
	height: 40%;
	transform: rotate(-2deg);
	border-radius: 5px;
	box-shadow: -5px -5px 0px 0px #f7f7f7;
	background: #efefef;
}

.section--about {
	padding: 0 5%;
	margin-bottom: 20px;
	transform: translateX(100%);
	animation: .5s slideInLeft 0.2s forwards;
}

.section--about .section__stripe:last-child {
	width: 40%;
	margin: 0;
}

.section--about h5 {
	font-size: 12px;
	margin: 10px 0 0;
}

.section--testimonials {
	padding: 2% 5%;
	clear: both;
	transform: translateX(-100%);
	animation: .5s slideInRight 0.4s forwards;
}

.section--testimonials > * {
	float: left;
}

.section__logo {
	border-radius: 10px;
}

.section__info {
	padding: 0 5%;
}

.section__info__stripe:last-child {
	width: 70%;
	margin: 0;
}

.slide-4 .slide--left {
	background: #75d0cd;
}

.card--store {
	animation: 1.5s fadeRight forwards;
}

.card--store .card__logo i {
	font-size: 36px;
	color: #666;
}

.card--store .card__info {
	width: 55%;
}

.store__info {
	margin: 0;
	color: #333;
}

.card--store .card__data {
	width: 60%;
}

.card__data__supplier, .card__data__callout {
	margin: 0;
	padding: 0;
	font-size: 11px;
}

.card__data__supplier {
	color: #d6d6d6;
}

.card__price {
	position: relative;
	float: left;
	width: 24%;
	background: #e7fff7;
}

.card__price__price {
	font-size: 13px;
	margin: 15px 0 0;
	padding: 0;
	color: #333;
	font-weight: 600;
	text-align: center;
}

.card__price__storage {
	position: absolute;
	right: -10px;
	top: -10px;
	width: 35px;
	height: 15px;
	background: #000;
	color: white;
	font-size: 10px;
	text-align: center;
}

.btn__storage {
	height: 24px;
	margin: 5px auto;
	color: white;
	background: #4dc684;
	display: block;
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bounceUp {
	0% {
		transform: translateY(100%);
	}

	60% {
		transform: translateY(-18%);
	}

	70% {
		transform: translateY(8%);
	}

	85% {
		transform: translateY(-6%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes bounceUpOnce {
	0% {
		transform: translateY(0%);
	}

	35% {
		transform: translateY(45%);
	}

	70% {
		transform: translateY(-16%);
	}

	90% {
		transform: translateY(10%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes growRightLong {
	from {
		width: 0%;
	}

	to {
		width: 60%;
	}
}

@keyframes growRightShort {
	from {
		width: 0%;
	}

	to {
		width: 35%;
	}
}

@keyframes fadeRight {
	0% {
		opacity: 0;
		transform: translateX(-30%);
	}

	50% {
		transform: translateX(0%);
	}

	100% {
		opacity: 1;
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes slideInLeft {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}
</style>


