<div style="position: relative;">


<%= render partial: '/shared/daterange_filter', locals: { label: 'Emails:'} %>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-paper text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Emails Opened</p>
                <p class="card-title"><%= @emails_opened %>
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-send text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Emails Sent</p>
                <p class="card-title"><%= @emails_sent %>
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-email-85 text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Emails Used</p>
                <p class="card-title"><%= @emails_used %>/<%= @email_limit %>
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Email Statistics</h5>
        </div>
        <div class="card-body ">
          <div >
            <canvas id=chartHours width="400" height="110"></canvas>
          </div>
        </div>
      </div>
    </div>
</div>

<div  class="inner-div-overlay" style="background-color: rgba(255,255,255, 1);">
  <%= render partial: '/shared/onboarding'%>
</div>

</div>




  <script>
    $(document).on('turbolinks:load',function() {
      if(window.location.pathname === "/" || window.location.pathname === "/dashboard"){
        initEmailStatsGraph();
      }
    });





  function initEmailStatsGraph() {

    chartColor = "#FFFFFF";
    var labels = []
    var emailsSent = []
    var emailsOpened= []
    var graphData = JSON.parse('<%= raw @graph_data.to_json %>')

    for(var prop in graphData) {
      labels.push(prop)
      emailsSent.push(graphData[prop][0])
      emailsOpened.push(graphData[prop][1])
    }

    var valuesArray = emailsSent.concat(emailsOpened)
    var max = Math.max(...valuesArray) + 1
    ctx = document.getElementById('chartHours').getContext("2d");
    

    myChart = new Chart(ctx, {
      type: 'line',

      data: {
        labels: labels,
        datasets: [
          {
            label: 'Emails Opened',
            fill: false,
            borderColor: "#1775ef",
            backgroundColor: "#1775ef",
            pointRadius: 0,
            pointHoverRadius: 0,
            borderWidth: 3,
            data: emailsOpened
          },
          {
            label: 'Emails Sent',
            fill: false,
            borderColor: "#fec400",
            backgroundColor: "#fec400",
            pointRadius: 0,
            pointHoverRadius: 0,
            borderWidth: 3,
            data: emailsSent
          }
        ]
      },
      options: {
            tooltips: {
      mode: 'index',
      intersect: false,
    },
        scales: {
          yAxes: [{
            ticks: {
              max: max,
              fontColor: "#9f9f9f",
              beginAtZero: true,
              stepSize: 1,
            }
          }],

          xAxes: [{
            barPercentage: 1.6,
            stacked: true,
            ticks: {
              padding: 20,
              fontColor: "#9f9f9f"
            }
          }]
        },
      }
    });
  }






</script>


<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Dashboard" });
    });
  </script>
<% end %>

