<div class="row ">
  <div class="col-md-12">
  <%= form_for @shop, url: '/settings', data: {remote: false} do |f| %>
  <div class="row row-bordered pt-0">
    <div class="col-md-4" style="padding: 15px">
    <p style="font-size: larger; font-weight: 500">
      When "off" no emails will be sent and your tokens will remain intact.
      </p>
    </div>
    <div class="card card-user col-md-8">
      <div class="row">
        <div class="input-row settings">
          <div class="pr-3 pl-3">
            <span class="form-label" > <label>Application Status</label> </span> 
            <label class="switch float-right">
              <%= f.check_box :status %>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-bordered">
    <div class="col-md-4">
      <p style="font-size: larger; font-weight: 500">
      Time between order placed and sending of "Thank You" email.
      </p>
    </div>
    <div class="card card-user col-md-8">
      <div class="row">
        <div class="pr-3 pl-3" style="width: 100%">
          <div class="input-row settings row ml-0 mr-0">
            <div class="col-md-7 pl-0">
              <span class="form-label" > 
                <label class="pr-1">
                Time to Send "Thank You" Email 
                </label>
                ( <span id="thank-you-range-value" class="pr-1"></span>Minutes )
              </span>
            </div>
            <div class="col-md-5 pr-0">
              <div class="slidecontainer float-right">
                <%= f.text_field :thank_you_interval, min: '1', max: '60', class: 'bar-slider', type: 'range'  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <% if @shop.subscription_type == 1 %>
      <div class="row row-bordered">
        <div class="col-md-4">
          <p style="font-size: larger; font-weight: 500">
            Time between order placed and sending of "Review" email.
          </p>
        </div>
        <div class="card card-user col-md-8">
          <div class="row">
            <div class="pr-3 pl-3" style="width: 100%">
              <div class="input-row settings row ml-0 mr-0">
                <div class="col-md-7 pl-0">
                  <span class="form-label" >
                    <label class="pr-1"> Time to Send "Review" Email </label>
                    ( <span id="review-value" class="pr-1"></span>Days )
                  </span>

                </div>
                <div class="col-md-5 pr-0">
                  <div class="slidecontainer float-right">
                      <%= f.text_field :review_interval, min: '1', max: '30', class: 'bar-slider', type: 'range'  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-4">
        <p style="font-size: larger; font-weight: 500">
          This information will be available in your templates, hover over the labels to see how to can access each value on the template editor.
        </p>
      </div>
    <div class="card card-user col-md-8">
      <div class="card-header">
        <h5 class="card-title text-center"></h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label data-toggle="tooltip" data-placement="top" title="{{shop.shop_name}}">Shop Name</label>
                  <%= f.text_field :shop_name, class: "form-control", placeholder: 'Shop Name' %>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label data-toggle="tooltip" data-placement="top" title="{{shop.title}}" >Owner Title</label>
                  <%= f.text_field :title, class: "form-control", placeholder: 'Owner Title' %>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label data-toggle="tooltip" data-placement="top" title="{{shop.owner_first_name}}" >Owner First Name</label>
                  <%= f.text_field :owner_first_name, class: "form-control", placeholder: 'Owner First Name' %>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label data-toggle="tooltip" data-placement="top" title="{{shop.owner_last_name}}" >Owner Last Name</label>
                  <%= f.text_field :owner_last_name, class: "form-control", placeholder: 'Owner Last Name' %>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label data-toggle="tooltip" data-placement="top" title="{{shop.phone}}" >Shop Phone Number</label>
                  <%= f.text_field :phone, class: "form-control", placeholder: 'Shop Phone Number' %>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label data-toggle="tooltip" data-placement="top" title="{{shop.address}}">Address</label>
                  <%= f.text_field :address, class: "form-control", placeholder: 'Address' %>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label data-toggle="tooltip" data-placement="top" title="{{shop.email}}">Email</label>
                  <%= f.text_field :email, class: "form-control", placeholder: 'Email' %>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label data-toggle="tooltip" data-placement="top" title="{{shop.website}}">Website</label>
                  <%= f.text_field :website, class: "form-control", placeholder: 'Website' %>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="">
        <div class="card-footer">
          <div class="row">
            <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary">Save Settings</button>
            </div>
          </div>
        </div>
      </div>    
    </div>

    </div>
  <div id="chartHours"></div>
  </div>
  <% end %>
</div>



<script>
var originUrl = window.top.location
  $(document).on('turbolinks:load', function(){
    $('label').tooltip();
  })
  var thankYouSlider = document.getElementById("shop_thank_you_interval");
  var thankYouSliderOutput = document.getElementById("thank-you-range-value");
  thankYouSliderOutput.innerHTML = thankYouSlider.value

  thankYouSlider.oninput = function() {
    thankYouSliderOutput.innerHTML = this.value;
  }

  var reviewSlider = document.getElementById("shop_review_interval");
  var reviewOutput = document.getElementById("review-value");
  reviewOutput.innerHTML = reviewSlider.value;

  reviewSlider.oninput = function() {
    reviewOutput.innerHTML = this.value;
  }


</script>