<%= render partial: '/shared/daterange_filter', locals: { label: 'Scheduled time:'} %>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" style="table-layout: fixed;  width: 100%;">
        <thead class=" text-primary">
          <tr class="text-center">
            <th colspan="2">
              Order
            </th>
            <th colspan="2">
              Status
            </th>
            <th colspan="2">
              Type
            </th>
            <th colspan="4" class="text-center">
              scheduled time
            </th>
            <th colspan="1" class="text-center">
              Views
            </th>
            <th colspan="1" class="text-center">
            </th>
          </tr>
        </thead>
        <tbody>
          <% if @emails.present? %>
            <% @emails.each do |email| %>
            <% order = Order.find(email.order_id) %>
              <tr data-id="<%=email.id%>" class="text-center order">
                <td colspan="2">
                  <%= link_to '#'+order.order_number, "https://#{@shop.shopify_domain}/admin/orders/#{order.shopify_id}", target: :_blank %>
                </td>
                <td colspan="2">
                  
                  <% if email.was_sent == 'not_sent' %>
                    <b class="text-warning">pending</b>
                  <% elsif email.was_sent == 'sent' %>
                    <b class="text-success">sent</b>
                  <% else %>
                    <b class="text-danger">error</b>
                  <% end %>
                </td>
                <td colspan="2">
                  <%= email.email_type.humanize %>
                </td>
                <td colspan="4">
                  <%= formatted_date(email.scheduled_time.in_time_zone(@shop.timezone)) %>
                </td>
                <td colspan="1">
                  <%= email.tracking_pixel.views %>
                </td>
                <td colspan="1">
                  <%= link_to 'View', email_path(email.id), remote: true %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="12" class="text-center">
                No results found. please try again with a different search
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="paginate center-h">
       <%= will_paginate @emails, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, params: {daterange: @daterange} %>
    </div>
  </div>
  
</div>

<script>
  $('body').on('click','.submit-review-btn', function(e) {
    e.preventDefault();
  })

</script>

<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Emails" });
    });
  </script>
<% end %>