<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-bledby="exampleModalb" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalb">Review from <%= "#{@customer['first_name'].capitalize} #{@customer['last_name'].capitalize}"%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-b="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      <div class="row p-3">
        <div class="col-md-3">
          <div class="form-group">
            <b>Rating</b>
            <p><%= @review.rating_stars %></p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <b>Order</b>
              <p>#<%= @review.order.order_number %></p>
            </div>
          </div>
        <div class="col-md-5">
          <div class="form-group">
            <b>Item Name</b>
            <p><%= @review.order_item.title %></p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <b>Exported</b>
            <p><%= @review.exported ? 'Yes' : 'No' %></p>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-12">
          <div class="form-group">
            <b>Title</b>
            <p><%= @review.title %></p>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-12">
          <div class="form-group">
            <b>Description</b>
            <p><%= @review.description %></p>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-4">
          <div class="form-group">
              <b>Name</b>
              <p><%= "#{@customer['first_name'].capitalize} #{@customer['last_name'].capitalize}"%></p>
            </div>
          </div>
        <div class="col-md-4">
          <div class="form-group">
            <b>Email</b>
            <p><%= @customer['email'] %></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <b>Phone</b>
            <p><%= @customer['phone'] %></p>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-md-5">
          <div class="form-group">
              <b>Address</b>
              <p><%= @customer['default_address']['address1'] %> <%= @customer['default_address']['address2'] %></p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <b>Zip</b>
              <p><%= @customer['default_address']['zip'] %> </p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <b>State</b>
            <p><%= @customer['default_address']['province'] %></p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <b>Country</b>
            <p><%= @customer['default_address']['country']%></p>
          </div>
        </div>
      </div>



      </div>
      <div class="modal_footer" style="border: 1px solid #e9ecef; display: flex; padding: 1rem;">
        <div class='text-left col-md-6'>
          <% if @review.exported %>
            <%= link_to 'Unmark as Exported', review_update_path(@review.id), class: 'btn btn-primary' %>
          <% else %>
            <%= link_to 'Mark as Exported', review_update_path(@review.id), class: 'btn btn-primary' %>
          <% end %>
        </div>
        <div class="col-md-6 text-right">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
