<div class="col-md-12 pr-1">
  <div class="col-6 ml-auto p-0">
      <%= form_with( url: "/#{@view}", method: 'get', data: {remote: false} ) do %>
    <div class="form-group">
      <div class="" style="display: flex;">
        <div class="col-md-3">
          <span style="color: gray"> Exported:</span>
          <%= select_tag 'exported', options_for_select([['Yes', 'true'],['No', 'false']], @exported), class: "form-control" %>
        </div>
        <div class="col-md-6">
          <span style="color: gray"> Submitted On:</span>
          <%= text_field_tag 'daterange', nil,class: "form-control" %>
        </div>
        <div class="col-md-3 pl-0 mt-2">
          <button type="submit" class="btn btn-primary icon-big btn-round">
            Search
          </button>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" style="table-layout: fixed;  width: 100%;">
        <thead class=" text-primary">
          <tr class="text-center">
            <th colspan="2">
              Rating
            </th>
            <th colspan="3" class="text-center">
              Title
            </th>
            <th colspan="3">
              Item Name
            </th>
            <th colspan="1">
              Order
            </th>
            <th colspan="3" class="text-center">
              Submitted On
            </th>
            <th colspan="1" class="text-center">
              
            </th>
          </tr>
        </thead>
        <tbody>
          <% if @reviews.present? %>
            <% @reviews.each do |review| %>
              <tr data-id="<%=review.id%>" class="text-center order">
                <td colspan="2" >
                  <%= review.rating_stars %>
                </td>
                <td colspan="3">
                  <%= review.title %>
                </td>
                <td colspan="3">
                  <%= review.order_item.title %>
                </td>
                <td colspan="1">
                  #<%= review.order.order_number %>
                </td>
                <td colspan="3">
                  <%= formatted_date(review.submitted_on.in_time_zone(@shop.timezone)) %>
                </td>
                <td colspan="1">
                  <%= link_to 'View', review_path(review.id), remote: true %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="13" class="text-center">
                No results found. please try again with a different search
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="paginate center-h">
       <%= will_paginate @reviews, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, params: { daterange: @daterange, exported: @exported } %>
    </div>
  </div>
  
</div>


  <script>
    $(document).on('turbolinks:load',function() {
        var daterange = "<%= @daterange %>"
        var [from, to] = daterange.split("...")   
        $('#daterange').daterangepicker({
          opens: 'left',
          startDate: moment(from).utc().format('MM/DD/YYYY'),
          endDate: moment(to).utc().format('MM/DD/YYYY'),
          autoApply: true,
        });
    });
</script>

<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Reviews" });
    });
  </script>
<% end %>