<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <% if ShopifyApp.use_webpacker? %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <% end %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>
    <div class="app-wrapper" style="margin-bottom: 50px;">
      <div class="app-content" >
        <main role="main" class="main-container">
          <ul class="navbar-list pt-4">
            <li>
              <a class="btn-magnify dashboard" href="/">
                <p class="mb-0" style="font-size: 18px">DASHBOARD</p>
              </a>
            </li>
            <li>
              <a class="templates" href="/templates">
                <p class="mb-0" style="font-size: 18px">TEMPLATES</p>
              </a>
            </li>
            <li>
              <a class="btn-rotate settings" href="/settings" >
                <p class="mb-0" style="font-size: 18px">SETTINGS</p>
              </a>
            </li>
            <li>
              <a class="btn-rotate pricing" href="/pricing" >
                <p class="mb-0" style="font-size: 18px">PRICING</p>
              </a>
            </li>
          </ul>
          <%= render 'layouts/flash_messages' %>
            <div class="pt-4">
              <%= yield %>
            </div>
          </main>
      </div>
    </div>

  

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: ("https://#{ @shop_session.url }" if @shop_session),
      debug: Rails.env.development?
    } ) %>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
    
  </body>
</html>
