<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <% if ShopifyApp.use_webpacker? %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <script src="//editor.unlayer.com/embed.js"></script>
  <body>
    <div class="app-wrapper">
      <div class="app-content" >
        <main role="main" class="main-container">
          <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent mt-4 mb-0">
          <ul class="navbar-nav">
              <li class="nav-item">
                <h4>
                  <a class="nav-link btn-magnify" href="/">
                    Dashboard
                  </a>
                </h4>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <h4>
                  <a class="nav-link" href="/template">
                    Templates
                  </a>
                </h4>
              </li>
              <li class="nav-item">
                <h4>
                  <a class="nav-link btn-rotate" href="#pablo">
                    Settings
                  </a>
                </h4>
              </li>
            </ul>
        </nav>
          <%= yield %>
        </main>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: ("https://#{ @shop_session.url }" if @shop_session),
      debug: Rails.env.development?
    } ) %>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
