<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <% if ShopifyApp.use_webpacker? %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <% end %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body >

    <div class="app-wrapper" style="margin-bottom: 50px; min-height: 100vh;">
      <div class="app-content" >
        <main role="main" class="main-container">


     <div class="col-12 pt-4 pr-0 pl-0">
      <div class="card nav-bar">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4 d-none">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-paper text-primary"></i>
              </div>
            </div>
            <div class="col-12">
            <ul class="navbar-list col-12">
              <li class="col-2 text-center">
                <div class="mb-0">
                  <a class="dashboard" href="/" >
                    <b class="mb-0" style="font-size: 17px">Dashboard</b>
                  </a>
                </div>
              </li>
              <li class="col-2 text-center">
                <div class="mb-0">
                  <a class="emails" href="/emails" >
                    <b class="mb-0" style="font-size: 17px">Emails</b>
                  </a>
                </div>
              </li>
              <li class="col-2 text-center">
                <div class="mb-0">
                  <a class="reviews" href="/reviews" >
                    <b class="mb-0" style="font-size: 17px">Reviews</b>
                  </a>
                </div>
              </li>
              <li class="col-2 text-center">
                <div class="mb-0">
                  <a class="templates" href="/templates" >
                    <b class="mb-0" style="font-size: 17px">Templates</b>
                  </a>
                </div>
              </li>
              <li class="col-2 text-center">
                <div class="mb-0">
                  <a class="btn-rotate settings" href="/settings" >
                    <b class="mb-0" style="font-size: 17px">Settings</b>
                  </a>
                </div>
              </li>
              <li class="col-2 text-center">
                <div class="mb-0">
                  <a class="btn-rotate pricing" href="/pricing">
                    <b class="mb-0" style="font-size: 17px">Pricing</b>
                  </a>
                <div>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


          <%= render 'layouts/flash_messages' %>
            <div class="pt-5">
              <%= yield %>
            </div>
          </main>
      </div>
    </div>

  

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: ("https://#{ @shop_session.url }" if @shop_session),
      debug: Rails.env.development?
    } ) %>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  
  <script>
    $(document).ready(function(){
      var view = "<%= raw @view %>"
      $(`li div a.${view}`).parent('div').addClass('card')
    })
  </script>
  <footer class="text-center main-container" style="padding: 10px 0px; border: 2px solid #e0e2ee; border-radius: 5px; margin-bottom: 10px;"> V 1.0.0 © 2020 by <a href="#">AndyLabs</a></footer>
  </body>
</html>
